@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background: radial-gradient(#480d35 ,#17151d);
}

#container-person {
    margin-top: 20px;
    overflow: hidden; /* Oculta cualquier desbordamiento */
}

#name {
    position: relative;
    font-family: "Poppins", sans-serif;
    color: #f6d8d5;
    font-size: 100px;
    margin-top: -25px; /* Ajusta la posición del texto */
}

#name::before {
    content: attr(data-text);
    position: absolute;
    top: 0em;
    left: 0em;
    color: #313f97;
    z-index: -1;
    transition: 0.2s;
}

#name:hover::before {
    top: 0.04em;
    left: 0.04em;
}

#name::after {
    content: attr(data-text);
    position: absolute;
    color: rgba(236, 34, 37, 0.1);
    top: 0em;
    left: 0em;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 1px #ec2225;
    transition: 0.2s;
}

#name:hover::after {
    top: -0.04em;
    left: -0.04em;
}

#alias {
    font-family: "Poppins", sans-serif;
    color: #f6d8d5;
    font-size: 50px;
    margin-top: -90px; /* Ajuste del margen en lugar de posición relativa */
}

#data {
    font-family: "Poppins", sans-serif;
    color: white;
    margin-top: -20px; /* Ajuste del margen */
    background-color: red;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
}

a {
    position: fixed;
    bottom: 50px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 5px;
    border-radius: 5px;
}

a:hover {
    color: black;
    background-color: white;
}

.miles-style {
    position: fixed;
    left: 55%;
    bottom: 70px;
    width: 410px;
}

.miguel-style {
    position: fixed;
    left: 55%;
    bottom: -30px;
    width: 500px;
}

.gwen-style {
    position: fixed;
    left: 50%;
    bottom: 0;
    width: 350px;
}

.noir-style {
    position: fixed;
    left: 50%;
    bottom: -10px;
    width: 500px;
}

.punk-style {
    position: fixed;
    left: 50%;
    bottom: -30px;
    width: 500px;
}

.jess-style {
    position: fixed;
    left: 52%;
    width: 600px;
}

.ben-style {
    position: fixed;
    left: 52%;
    width: 600px;
    bottom: 0;
}

.peni-style {
    position: fixed;
    left: 55%;
    width: 500px;
    bottom: 0;
}

.pig-style {
    position: fixed;
    left: 60%;
    width: 400px;
    bottom: 0;
}

.peterb-style {
    position: fixed;
    left: 52%;
    width: 500px;
    bottom: -20px;
}

.cat-style {
    position: fixed;
    left: 50%;
    width: 590px;
    bottom: -35px;
}

.pativr-style {
    position: fixed;
    left: 50%;
    width: 600px;
    bottom: 0;
}

img {
    position: fixed;
    left: 50%;
    bottom: 70px;
    width: 410px;
}

