{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{spider.alias}}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/spider.css' %}">
{% endblock %}

{% block content %}

    <div class="page-container">
        <div class="images">
            <img src="{{spider.image2}}" alt="{{spider.alias}}" class="main-image">
            <img src="{{spider.image3}}" alt="{{spider.alias}}" class="secondary-image">
        </div>

        <div class="info">
            <h1 id="alias" data-text="{{spider.alias}}">{{spider.alias}}</h1>
            <h2 id="name" data-text="{{spider.name}}">{{spider.name}}</h2>

            <div id="container">
                <h3 data-text="Universo">Universo</h3>
                <p>{{spider.universe}}</p>

                <h3 data-text="Descripción">Descripción</h3>
                <p>{{spider.power}}</p>

                <h3 data-text="Poderes">Poderes</h3>
                <p>{{spider.description}}</p>
            </div>
        </div>
    </div>


{% endblock %}