{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{spider.alias}}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/character.css' %}">
{% endblock %}

{% block content %}

    <a class="back-link" href="{% url 'home' %}#heroes">← Volver</a>

    <div class="page-container">
        <div class="images">
            <img src="{{spider.image2}}" alt="{{spider.alias}}" class="main-image">
            {% if spider.image3 %}
                <img src="{{spider.image3}}" alt="{{spider.alias}}" class="secondary-image">
            {% endif %}
        </div>

        <div class="info">
            <h1 id="alias" data-text="{{spider.alias}}">{{spider.alias}}</h1>
            <h2 id="name" data-text="{{spider.name}}">{{spider.name}}</h2>

            <div id="container">
                <h3 data-text="Universo">Universo</h3>
                <p>{{spider.universe}}</p>

                <h3 data-text="Descripción">Descripción</h3>
                <p>{{spider.description}}</p>

                <h3 data-text="Poderes">Poderes</h3>
                <p>{{spider.power}}</p>
            </div>
        </div>
    </div>


{% endblock %}