{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{villain.alias}}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/villain.css' %}">
{% endblock %}

{% block content %}

    <div class="page-container">
        <img src="{{villain.image2}}" alt="{{villain.alias}}">

        <div class="info">
            <h1 id="alias" data-text="{{villain.alias}}">{{villain.alias}}</h1>
            <h2 id="name" data-text="{{villain.name}}">{{villain.name}}</h2>

            <div id="container">
                <h3 data-text="Universo">Universo</h3>
                <p>{{villain.universe}}</p>

                <h3 data-text="Descripción">Descripción</h3>
                <p>{{villain.power}}</p>

                <h3 data-text="Poderes">Poderes</h3>
                <p>{{villain.description}}</p>
            </div>
        </div>
    </div>


{% endblock %}