.page-container {
  display: flex;
  flex-direction: row; /* 🔹 Dos columnas */
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  margin-left: 20px;
}

/* ----- COLUMNA IZQUIERDA (IMAGEN) ----- */

.images {
  display: flex;
  flex-direction: column; /* 🔹 una imagen debajo de otra */
  gap: 10px;
  align-items: center;
}

.images img {
  width: 100%;
  max-width: 450px;
  border-radius: 15px;
  object-fit: cover;
}

.images .main-image {
    padding: 10px;
    background-color: red;
    margin-top: 20px;
  }

/* ----- COLUMNA DERECHA (INFO) ----- */

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#alias {
  position: relative;
  color: white;
  font-size: 95px;
  margin: 0 20px;
}

#alias::before {
  content: attr(data-text);
  position: absolute;
  color: #313f97;
  top: 0.04em;
  left: 0.04em;
  z-index: -1;
  transition: 0.2s;
}

#alias::after {
  content: attr(data-text);
  position: absolute;
  color: transparent;
  top: -0.04em;
  left: -0.04em;
  background-image: radial-gradient(circle, rgba(236, 34, 37, 0.5) 0.0125em, transparent 0.0125em);
  background-size: 8px 8px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 1px #ec2225;
  transition: 0.2s;
}

#name {
  position: relative;
  color: white;
  font-size: 65px;
  margin: 0 20px 20px 20px;
}

#name::before {
  content: attr(data-text);
  position: absolute;
  color: #313f97;
  top: 0.04em;
  left: 0.04em;
  z-index: -1;
  transition: 0.2s;
}

/* ----- INFO DETALLADA ----- */
#container {
  margin: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#container h3 {
  position: relative;
  color: white;
  font-size: 35px;
  margin: 0;
}

#container h3::after {
  content: attr(data-text);
  position: absolute;
  color: transparent;
  top: -0.04em;
  left: -0.04em;
  background-image: radial-gradient(circle, rgba(236, 34, 37, 0.5) 0.0125em, transparent 0.0125em);
  background-size: 8px 8px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 1px #ec2225;
}

#container p {
  color: white;
  font-size: 22px;
  line-height: 1.6;
  margin: 0;
}
